.mt-container {
  background-color: #eee;
  height: 100%;
  table {

  }
  .form-container {
    margin: 50px;
    float: right;
    width: 20%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 1px 1px #ccc;
    border-radius: 10px;

    h1 {
      text-align: center;
    }

    mat-form-field {
      width: 100%;
    }

    .btns {
      text-align: right;
      margin-bottom: 50px;
      button {
        margin-left: 20px;
      }
    }
  }
}